@use "../../scss/utils/" as *;

.root {
  padding-top: rem(80);
  text-align: center;
}

.title {
  margin-bottom: rem(30);
}

.video {
  position: absolute;
  left: 0;
  top: 0;
  border: none;
  width: 100%;
  height: 100%;


  &Wrapper {
    display: inline-block;
    overflow: hidden;
    border-radius: rem(4);
    width: 100%;
    max-width: rem(800);


    &Inner {
      position: relative;
      padding-top: 56.25%;
      width: 100%;
    }

    // button {
    //   border: none;
    //   cursor: pointer;
    // }
  }
}

// **
.controls {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
}

.progress {
  width: 100%;
  height: rem(8);

  &Wrapper {
    width: 100%;
    font-size: 0;
  }
}


// **
.btns {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {}

.btn {
  border: none;
  padding: 0;
  color: var(--white-color);
  background-color: transparent;
  cursor: pointer;
}