@use "../../scss/utils/" as *;

.root {
  padding-top: rem(80);
  text-align: center;
}

.title {
  margin-bottom: rem(30);
}

.video {
  border: none;

  &Wrapper {
    display: inline-block;
    width: 100%;
    max-width: rem(800);

    button {
      border: none;
      cursor: pointer;
    }
  }
}

// &Wrapper {
//   display: inline-block;
//   width: 100%;
//   max-width: rem(800);

//   &Inner {
//     position: relative;
//     padding-top: 56.27%;
//     width: 100%;
//   }
// }